* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.backcolor {
    background-color: #fae100;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
}

.backcolor i {
    font-size: 150px;
    margin-top: 300px;
  }